@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&family=Poppins:wght@400;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    margin-top: 47px;
    margin-left: 42px;
}

.link-menu{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.875px;
    color: #17233D;
    margin-right: 32px;
    cursor: pointer;
    }
    
    .button-sign-up{
        border-radius: 6px;
        border: 1px solid #4CB538;
        background: #6FBF44;
        width: 124px;
        height: 51px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1px;
        color: #FFFFFF;
    }

    img{
        margin-top: 163px;
        margin-left: 121px;
        display: inline-block;
    }

    div{
        display: inline-block;
        margin-left: 84px;
        width: 493px;
    }

    h1{
        font-size: 62px;
        font-weight: 700;
        line-height: 82px;
        letter-spacing: 0.596px;
        color: #161A49;
    }

    p{
        font-size: 18px;
        font-weight: 400;
        line-height: 33px; 
        letter-spacing: 0.5px;
        color: #4B505A;
        margin-top: 47px;
        margin-bottom: 55px;
        
    }

    .button-learn-more{
        color: #6FBF44;
        font-size: 18px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1px;
        cursor: pointer;
        background: transparent;
        border: none;
    }